body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.dropdown-links {
    font-weight: bold;
}

.navbar {
    overflow: hidden;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        gap: 16px;
        font-size: 20px;
        margin-right: 10%;
    }
}

.logo-image {
    margin-right: -10px;
}

.navbar li:hover {
    cursor: pointer;
    margin: auto;
}

.navbar a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    color: #1c8451;
}

.navbar, .dropdown {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.nav-title {
    font-size: 40px;
    margin: 20px;
    margin-left: 10%;
    text-decoration: none;
    color: black;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.open {
    display: flex;
    font-size: 22px;
    list-style: none;
    align-items: stretch;
    text-decoration: none;
}

.open a {
    display: flex;
    text-decoration: none;
}

.dropdown, .dropdown li {
    display: none;
}

@media screen and (max-width: 576px) {
    body {
        margin: 0;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .dropdown-links {
        font-weight: bold;
    }

    .navbar {
        display: flex;
        flex-direction: column;
    }

    .navbar a {
        color: #1c8451;
    }

    .navbar ul {
        gap: 10px;
    }

    .nav-title {
        display: flex;
        margin: 0 10px;
        font-size: 18px;
        margin-left: -10%;
        text-decoration: none;
        color: #e1b668;
        font-family: "Kanit", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .logo-image {
        margin-right: -10px;
    }

    .menu {
        display: flex;
    }

    .dropdown {
        display: block;
        position: absolute;
        top: 15px;
        right: 3%;
        flex-direction: column;
        border: none;
        font-size: 20px;
        justify-content: center;
    }

    ul.open {
        display: flex;
        font-size: 15px;
    }

    ul.close {
        display: none;
    }

    ul {
        display: none;
        font-size: 15px;
    }
}

@media screen and (max-width: 1279px) {
    .navbar {
        ul {
            font-size: 15px;
            margin-right: 7%;
        }
    }

    .nav-title {
        font-size: 27px;
        margin-left: 0 1%;
    }
}